requests
beautifulsoup4
pandas
fastapi
pydantic
uvicorn
streamlit
matplotlib
tqdm
httpx
pytest
boto3
python-dotenv
psycopg2-binary
redis
python-dateutil
great_expectations==0.18.19
keybert
transformers
torch
datasets
scikit-learn
seaborn
accelerate
yfinance
pymongo
pyarrow
gspread
python-jose[cryptography]
mlflow
